* {
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  font-size: 10px;
  background-color: #1c1c1c;
  color: #1bbf00;
}

button {
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  color: #1bbf00;
  border:solid 1px #1bbf00;
  padding: 0 2.6%;
}

.header {
  margin: 1.7vh 0;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-flow: wrap;
  align-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(7, 14.2%);
  grid-template-rows: repeat(8, 12.5%);
  background-color: #000;
  width: 100vw;
  height: 80vh;
  clear: both;
}

.game-container button {
  font-family: 'Press Start 2P', cursive;
  margin: auto;
}

.game {
  display: none;
  height: 50px;
  font-size: 2em;
}

#start {
  max-width: 300px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 25%;
  height: 100px;
  width: 50%;
  font-size: 3em;
}

#reset {
  display: none;
  font-size: 2em;
}

#countdown {
  display: none;
  font-size: 2.5em;
}

#level {
  display: none;
  font-size: 2.5em;
}

#lvlup {
  display: none;
  max-width: 300px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 25%;
  height: 100px;
  width: 50%;
  font-size: 3em;
}

#re {
  display: none;
  max-width: 300px;
  position: absolute;
  top: 65%;
  left: 25%;
  width: 50%;
  border-style: none;
}

@media (min-width:700px) {
  .game {
    height: 50px;
    font-size: 2em;
    width: auto;
  }
  #start, #lvlup {
    left: 33%;
  }
  #re {
    top: 55%;
    left: 33%;
  }
}
@media (min-width:1025px) {
  .game {
    height: 50px;
    font-size: 2em;
    width: auto;
  }
  #start, #lvlup {
    left: 38%;
  }
  #re {
    top: 55%;
    left: 38%;
    font-size: 2.5em;
  }
}
